@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 5vh;
    text-align: center;
}

.center {
    text-align: center;
}
/* Topnav */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title {
    position: relative;
    text-align: center;
    overflow-x: hidden;
}

/* Title area */

.title-img {
    height: auto;
    width: auto;
}

.title-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 10vh;
}

.title-para {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Merriweather', serif; 
}

/* Generic row markup */

.row {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    flex-direction: row;

    margin: 5vh 15vw;
}

.row .row-title {
    font-family: 'Montserrat';
    font-size: 45px;
    text-align: left;
}

.row p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    flex-basis: auto;
    white-space: pre;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
}
  